<footer>
    <div class="footer-columns">
      <section class="footer-side">
        <h3>O nas</h3>
        
        <ul>
          <li><a href="#" target="_blank">Warunki zakupów</a></li>
          <li><a href="#" target="_blank">Pomoc</a></li>
          <li><a href="#" target="_blank">Kontakt</a></li>
        </ul>
      </section>
      
      <section class="footer-center">
        <h3>Newsletter</h3>

        <div class="footer-input">
        <input type="email" placeholder="Twój adres e-mail" />
        <button>Zapisz się</button>
        </div>

        <label>
        <input type="checkbox" required />
        <span>Zgadzam się na otrzymywanie informacji...</span>
        </label>
      </section>
      
      <section class="footer-side">
        <h3>Znajdź nas</h3>
        
        <ul>
          <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
          <li><a href="https://x.com/home" target="_blank">Twitter</a></li>
          <li><a href="https://www.youtube.com/" target="_blank">Youtube</a></li>
        </ul>
      </section>
    </div>

    <p class="footer-bottom">© 2025 MDK Księgarnia. Wszelkie prawa zastrzeżone.</p>
</footer>