<footer>
    <div class="footer-columns">
      <section>
        <h3>O nas</h3>

        <ul>
          <li><a href="footer/conditions">Warunki zakupów</a></li>
          <li><a href="footer/help">Pomoc</a></li>
          <li><a href="footer/contact">Kontakt</a></li>
        </ul>
      </section>

      <section>
        <h3>Newsletter</h3>

        <p id="newsletter-message"></p>

        <form id="newsletter-form">
          <div class="footer-input">
            <input type="email" name="email" placeholder="Twój adres e-mail" id="newsletter-email" required />
            <button type="submit">Zapisz się</button>
          </div>
        
          <label>
            <input type="checkbox" name="consent" required />
            <span>Zgadzam się na otrzymywanie informacji...</span>
          </label>
        </form>
      </section>
      
      <section>
        <h3>Znajdź nas</h3>
        
        <ul>
          <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
          <li><a href="https://x.com/home" target="_blank">Twitter</a></li>
          <li><a href="https://www.youtube.com/" target="_blank">Youtube</a></li>
        </ul>
      </section>
    </div>

    <p class="footer-bottom">© 2025 MDK Księgarnia. Wszelkie prawa zastrzeżone.</p>
</footer>