<header id="nav-header">
    <div class="header-top">
        <a href="/" class="logo">
            <img src="/images/logo/logo.png" alt="MDK Księgarnia">
        </a>

        <div class="search-bar">
            <input type="text" placeholder="Nazwa książki...">
            
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <ul>
            <li>
                <a href="#">
                    <i class="fa-solid fa-basket-shopping"></i>
    
                    <p>Koszyk</p>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-heart"></i>
                    
                    <p>Ulubione</p>
                </a>
            </li>
            
            <li>
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                    
                    <p>Zaloguj</p>
                </a>
            </li>
        </ul>
    </div>

    <ul class="header-bottom">
        <li class="menu-button">
            <button id="menu-button" onclick="headerDisplay()">
                <i class="fa-solid fa-grip-lines"></i>
            </button>
        </li>

        <li class="hide-button">
            <a href="#">
                <i class="fa-solid fa-book"></i>
                
                <p>Gatunki</p>
            </a>
        </li>

        <li class="hide-button">
            <a href="#">
                <i class="fa-solid fa-star"></i>
                
                <p>Autorzy</p>
            </a>
        </li>

        <li class="hide-button" >
            <a href="#">
                <i class="fa-solid fa-tags"></i> 
                
                <p>W promocji</p>
            </a>
        </li>

        <li class="hide-button">
            <a href="#">
                <i class="fa-solid fa-star"></i>
                
                <p>Nowości</p>
            </a>
        </li>
    </ul>
</header>