<header id="nav-header">
    <section class="header-top">
        <a href="/home"><img src="/images/logo/logo.png" alt="MDK Księgarnia"></a>

        <div class="search-bar">
            <input id="search-input" type="text" placeholder="Nazwa książki...">
            
            <button id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <nav>
            <a href="/home">
                <i class="fa-solid fa-house"></i>
                <p>Home</p>
            </a>

            <a href="/user/cart">
                <div class="special-button">
                    <i class="fa-solid fa-basket-shopping"></i>
                    <% if (typeof user !== 'undefined' && user) { %>
                        <span class="circle-count" id="user-cart-count"><%= user.cart %></span>
                    <% } %>
                </div>
                <p>Koszyk</p>
            </a>

            <a href="/user/favorites">
                <div class="special-button">
                    <i class="fa-solid fa-heart"></i>
                    <% if (typeof user !== 'undefined' && user) { %>
                        <span class="circle-count" id="user-fav-count"><%= user.favorites %></span>
                    <% } %>
                </div>
                <p>Ulubione</p>
            </a>

            <a href="/user">
                <i class="fa-solid fa-user"></i>
                <p><% if (typeof user !== 'undefined' && user) { %><%= user.login %><% } else { %>Zaloguj<% } %></p>
            </a>
        </nav>
    </section>

    <section class="header-bottom">
        <button id="menu-button"><i class="fa-solid fa-grip-lines"></i></button>

        <a class="hide-button" href="/home/genres">
            <i class="fa-solid fa-book"></i>
            <p>Gatunki</p>
        </a>

        <a class="hide-button" href="/home/authors">
            <i class="fa-solid fa-star"></i>
            <p>Autorzy</p>
        </a>
    </section>
</header>