<!DOCTYPE html>
<html lang="pl">
<head>
    <title><%= title %></title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="/images/logo/icon.png" />
    <link rel="stylesheet" href="/css/partials/html.css" />
    <link rel="stylesheet" href="/css/partials/header.css" />
    <link rel="stylesheet" href="/css/partials/footer.css" />

    <% if (typeof styles !== 'undefined' && styles) { styles.forEach(function(style) { %>
        <link rel="stylesheet" href="/css/<%= style %>.css" />
    <% })}; %>

    <% if (typeof scripts !== 'undefined' && scripts) { scripts.forEach(function(script) { %>
        <script src="/js/<%= script %>.js" defer></script>
    <% })}; %>

    <script src="/js/header.js" defer></script>
    <script src="/js/footer.js" defer></script>
    <script src="https://kit.fontawesome.com/8304ccfbd0.js" crossorigin="anonymous" defer></script>
</head>