node_modules/

.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

*.tmp
*.swp
*.swo
*.bak

.DS_Store
Thumbs.db

.cache/
dist/
build/
tmp/
out/
coverage/
.nyc_output/
.next/           # jeśli używasz Next.js
.vscode/         # jeśli nie chcesz dzielić ustawień edytora

jest-test-results.json
test-results.xml

uploads/
public/uploads/