<%- include('../../structure/views/head', { 
  title : "Warunki zakupów",
  styles : ['/footer/css/conditions.css', '/header/css/header.css'],
  scripts : ['/header/js/header.js']
}); %>
  
<body>
  <%- include('../../header/views/header') %>

  <main></main>
  
  <%- include('../../footer/views/footer') %>    
</body>

</html>