<script src="/js/book.js" defer></script>

<ul>
    <% data.forEach(function(book) {%>
        <li>
            <button data-id="<%= book.id_ksiazki %>" onclick="GoToBookPage(this)">
            <p><%= book.tytul %></p>
            <img src="/images/books/<%= book.okladka %>" width="auto" height="100px">
            </button>
        </li>
    <%});%>
</ul>