footer {
    color: white;
    background-color: #2c252bff;
    text-align: center;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
}

footer section {
    padding: 0.8rem 0 0.8rem 0;
}

footer section * {
    font-size: 14px;
}

.footer-side {
    width: 20%;
}

.footer-center {
    width: 60%;
}

.footer-section {
    align-items: center;
}

footer h3 {
    font-size: 18px;
    padding: 0 0 0.8rem 0;
}

li {
    padding: 0 0 0.5rem 0;
}

footer a {
    opacity: 70%;
    transition: opacity 0.2s ease;
}
  
footer a:hover {
    opacity: 100%;
}

.footer-bottom {
    font-size: 14px;
    padding: 0 0 1rem 0;
    font-style: italic;
    opacity: 50%;
}

footer input {
    color: #2c252bff;
    padding: 0.4rem 1rem;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ccc;
    outline: none;
    transition: border 0.3s ease;
}
  
footer input:focus {
    border: 1px solid #ff0457ff;
}

.footer-input {
    padding-bottom: 0.8rem;
}
  
footer button {
    padding: 0.5rem 1rem;
    background-color: #ff0457ff;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
footer button:hover {
    background-color: #b00081ff;
}
  
footer label {
    align-items: center;
    font-size: 0.9rem;
}

@media (max-width: 700px) {
    .footer-columns {
        display: block;
    }

    .footer-side {
        width: 100%;
        background-color: rgb(58, 49, 57);
    }
    
    .footer-center {
        width: 100%;
    }

    .footer-bottom {
        padding: 1rem 0 1rem 0;
    }
}