header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #ccc;
}
 
.header-column {
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.header-buttons {
    background-color: #2c252bff;
    padding: 0.6rem 1rem;
    gap: 4rem;
    display: flex;
    justify-content: center;
}

.header-buttons li {
    color: white;
    transition: color 0.2s ease, transform 0.2s ease-in-out;
}

.header-buttons li:hover {
    transform: scale(1.1);
    color: #ff0457ff;
}

header img {
    width: auto;
    max-height: 50px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

header img:hover {
    transform: scale(1.1);
}

.search-bar {
    width: 35%;
    display: flex;
    gap: 0.6rem;
}

.search-bar input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border 0.2s ease;
    outline: none;
}

.search-bar input:focus {
border: 1px solid #ff0457ff;
}

.search-bar button {
    padding: 0.2rem 0.5rem;
    background-color: #2c252bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease-in-out;
}

.search-bar button:hover {
    transform: scale(1.1);
    background-color: #ff0457ff;
}

.search-bar button svg {
    width: auto;
    max-height: 25px;
}

.special-buttons {
    align-items: center;
    vertical-align: middle;
    text-align: center;
    display: flex;
    gap: 2.6rem;
    cursor: pointer;
    height: 100%;
    border: none;
    background-color: transparent;
}

.special-buttons li {
    color: #2c252bff;
    transition: color 0.2s ease, transform 0.2s ease-in-out;
}

.special-buttons li:hover {
    transform: scale(1.1);
    color: #ff0457ff;
}

.special-buttons svg {
    width: auto;
    height: 30px;
}

@media (max-width: 1000px) {
    header {
        position: relative;
        top: 0;
        z-index: 0;
        align-items: center;
        text-align: center;
    }

    .hide-button {
        display: none;
    }

    .header-column {
        padding: 1rem 6rem;
        display: block;
    }

    .header-buttons {
        display: block;
        padding: 0;
    }

    .header-buttons li {
        padding: 0.8rem 0;
    }

    .header-buttons li:nth-child(even) {
        background-color: rgb(103, 84, 99);
      }

    .special-buttons {
        justify-content: center;
        gap: 6rem;
    }

    header img {
        margin: 0 0 2rem 0;
    }

    .search-bar {
        align-items: center;
        width: 100%;
        margin: 0 0 2.2rem 0;
    }

    header ul {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 800px) {
    .header-column {
        padding: 1rem 6rem;
    }
}

@media (max-width: 500px) {
    .header-column {
        padding: 1rem 3rem;
    }

    .special-buttons {
        gap: 3rem;
    }
}

@media (max-width: 320px) {
    .header-column {
        padding: 1rem 1rem;
    }

    .special-buttons {
        gap: 2rem;
    }
}