<%- include('../partials/html', { 
    title : "Odzyskiwanie hasła",
    styles : [ 'customer/panel' ], 
    scripts :[ 'header' ]
}); %>

<body>
    <%- include('../partials/header') %>

    <main>
        <div class="panel">
            <h1>Zresetuj Hasło</h1>
            
            <% if (typeof error !== 'undefined' && error) { %>
                <p class="error"><%= error %></p>
            <% } %>

            <form action="/user/forgot" method="POST" class="login-form">
                <input type="email" name="email" placeholder="Wpisz swój e-mail" required />
                
                <button type="submit">Wyślij kod</button>
            </form>
            
            <p>Wróć na stronę <a href="/user/new">logowania</a></p>
        </div>
    </main>
    
    <%- include('../partials/footer') %>   
</body>
</html>