<%- include('../partials/html', { 
    title : "Rejestracja",
    styles : [ 'customer/panel' ], 
    scripts :[ 'header' ]
}); %>

<body>
    <%- include('../partials/header') %>

    <main>
        <h1>Zarejestruj się</h1>

        <% if (typeof error !== 'undefined' && error) { %>
            <p class="error"><%= error %></p>
        <% } %>

        <form action="/user/new" method="POST" class="login-form">
            <div>
                <label for="email">E-mail:*</label>
                <input type="email" name="email" id="email" required />
            </div>

            <div>
                <label for="username">Login:*</label>
                <input type="text" name="login" id="username" required />
            </div>

            <div>
                <label for="password">Hasło:*</label>
                <input type="password" name="haslo" id="password" required />
            </div>

            <button type="submit">Zarejestruj</button>
        </form>

        <p>Masz już konto? <a href="/user">Zaloguj się</a></p>
    </main>

    <%- include('../partials/footer') %>   
</body>
</html>