<%- include('../partials/html', {
    title : 'Koszyk',
    styles : [ 'user/cart' ],
    scripts : [ 'renderListOfObjects', 'storage/increase_cart_amount' ]   
}) %>

<body>
    <%- include('../partials/header') %>

    <main>
        <div class="container">
            <h2>Koszyk</h2>

            <div id="content" class="content"></div>

            <div id='footer' class="order-footer">
                <a href="/user/dashboard" class="button">Powrót</a>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>

    <script defer>
        if (userData && userData.carAmount > 0) {
            const $ = (tag) => document.createElement(tag);

            const list = $('ul');
            list.id = 'list';

            const container = $('div');
            container.classList.add('finale-price');

            const priceContainer = $('p');
            const priceText = $('strong');
            priceText.innerText = 'Łączna kwota: ';

            const price = $('b');
            <% if (typeof price !== 'undefined' && price) { %>
                price.innerText = `<%= price %>`;
                price.id = 'finale-price'
            <% } %>

            priceContainer.appendChild(priceText);
            priceContainer.appendChild(price);
            priceContainer.appendChild(document.createTextNode(' PLN'));

            const payment = $('a');
            payment.innerText = 'Przejdź do zakupu';
            payment.href = "/user/payment";
            payment.classList.add('button');

            container.appendChild(priceContainer);
            container.appendChild(payment);

            const moreBooks = $('a');
            moreBooks.innerText = 'Kolejne książki';
            moreBooks.classList.add('button');
            moreBooks.id = 'add-items';
            moreBooks.dataset.type = 'cart';

            const contentFragment = document.createDocumentFragment();
            contentFragment.appendChild(list);
            contentFragment.appendChild(container);

            document.getElementById('content').appendChild(contentFragment);
            document.getElementById('footer').appendChild(moreBooks);
        } else {
            setContentAsEmpty();
        }

        function setContentAsEmpty() {
            document.getElementById('content').innerHTML = '';

            const empty = document.createElement('p');
            empty.classList.add('empty');
            empty.innerText = 'Brak książek';
            document.getElementById('content').appendChild(empty);

            if (document.getElementById('add-items')) {
                document.getElementById('add-items').remove();
            }
        }
    </script>
</body>
</html>