header h1 {
    margin: 0;
    font-size: 2em;
}
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-top: 10px;
    font-weight: bold;
}

.login-form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.login-form button {
    margin-top: 20px;
    padding: 12px;
    background-color: #ff0457ff; 
    color: white;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
}

.login-form button:hover {
    background-color: #b00081ff;
}

.error {
    color: red;
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 10px;
}

.login-container p {
    text-align: center;
    margin-top: 15px;
}

.login-container a {
    color: #007bff;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}