<!DOCTYPE html>
<html lang="pl">
<head>
    <title><%= title %></title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="/structure/images/logo/icon.png" />
    <link rel="stylesheet" href="/structure/css/head.css" />
    <link rel="stylesheet" href="/footer/css/footer.css" />

    <% if (styles) { styles.forEach(function(style) { %>
        <link rel="stylesheet" href="<%= style %>" />
    <% })}; %>

    <% if (scripts) { scripts.forEach(function(script) { %>
        <script src="<%= script %>" defer></script>
    <% })}; %>

    <script src="/footer/js/footer.js" defer></script>
    <script src="https://kit.fontawesome.com/8304ccfbd0.js" crossorigin="anonymous" defer></script>
</head>