<%- include('../partials/html', { 
    title : "Pomoc",
    styles : [ 'footer/conditions' ],
    scripts : [ 'header' ]
}); %>
  
<body>
    <%- include('../partials/header') %>

    <main></main>
  
    <%- include('../partials/footer') %>    
</body>
</html>