<%- include('../partials/html', { 
    title : "Pomoc",
    styles : [ 'footer/contact' ],
}); %>
  
<body>
    <%- include('../partials/header') %>

    <main></main>

    <%- include('../partials/footer') %>    
</body>
</html>