<%- include('../partials/html', {
    title : 'Pomoc',
    styles : [ 'footer/main' ]
}) %>

<body>
    <%- include('../partials/header') %>

    <main>
        <div class="container">
            <h2>Pomoc</h2>

            <ul>
                <li>
                    <p>Znajdziesz tu odpowiedzi na najczęściej zadawane pytania.</p>
                </li>
                
                <li>
                    <h2>1. Logowanie i rejestracja</h2>
                    <p>Aby korzystać z pełni funkcjonalności serwisu, należy się zarejestrować i zalogować. W razie problemów z logowaniem użyj opcji "Nie pamiętasz hasła?".</p>
                </li>  
                
                <li>
                    <h2>2. Zamówienia</h2>
                    <p>Zamówienia można śledzić w sekcji "Moje konto" → "Zamówienia". Po złożeniu zamówienia otrzymasz e-mail z potwierdzeniem.</p>
                </li>  
              
                <li>
                    <h2>3. Płatności</h2>
                    <p>Obsługujemy płatności kartą, BLIK oraz szybkim przelewem. Wszystkie transakcje są szyfrowane.</p>
                </li>
              
                <li>
                    <h2>4. Zwroty</h2>
                    <p>Masz 14 dni na odstąpienie od umowy bez podania przyczyny. </p>
                </li>

                <li>
                    <h2>5. Kontakt z pomocą techniczną</h2>
                    <p>
                        W razie pytań napisz do nas poprzez 
                        <a href="../footer/contact">formularz kontaktowy</a> 
                        lub bezpośrednio na kontakt@mdk.pl.
                    </p>
                </li>
            </ul>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>