<%- include('../../structure/views/head', { 
    title : "Rejestracja",
    styles : ['/user/css/register.css'],
    scripts : ['/user/js/phoneNumber.js']
}); %>

<body>
    <main>
        <p>Zarejestruj się</p>

        <% if (typeof error !== 'undefined' && error) { %>
            <p><%= error %></p>
        <% } %>

        <form method="POST" action="/user/new">
            <label for="email">E-mail:*</label>
            <input type="email" name="email" id="email" required />

            <label for="username">Login:*</label>
            <input type="text" name="login" id="username" required />

            <label for="password">Hasło:*</label>
            <input type="password" name="haslo" id="password" required />

            <button type="submit">Zarejestruj</button>
        </form>

        <p>Masz już konto? <a href="/user">Zaloguj się</a></p>
    </main>

    <%- include('../../footer/views/footer') %>   
</body>

</html>