.gatunek-tag.fantastyka          { background-color: #673ab7; }
.gatunek-tag.kryminał            { background-color: #d32f2f; }
.gatunek-tag.romans              { background-color: #e91e63; }
.gatunek-tag.historia            { background-color: #6d4c41; }
.gatunek-tag.nauka               { background-color: #0288d1; }
.gatunek-tag.biografia           { background-color: #388e3c; }
.gatunek-tag.dramat              { background-color: #7b1fa2; }
.gatunek-tag.powieść-obyczajowa { background-color: #f57c00; }
.gatunek-tag.psychologia         { background-color: #009688; }
.gatunek-tag.ekonomia            { background-color: #c2185b; }
.gatunek-tag.podróże            { background-color: #00796b; }
.gatunek-tag.obyczajowa          { background-color: #ff8f00; }
.gatunek-tag.wspomnienia         { background-color: #5d4037; }
.gatunek-tag.thriller            { background-color: #c62828; }
.gatunek-tag.przygodowa          { background-color: #0288d1; }
.gatunek-tag.misterium           { background-color: #512da8; }
.gatunek-tag.przyroda            { background-color: #689f38; }
.gatunek-tag.science-fiction     { background-color: #00bcd4; }

.gatunek-tag {
    display: inline-block;
    padding: 4px 10px;
    margin: 5px 0 5px 0;
    border-radius: 16px;
    font-size: 0.85em;
    font-weight: 500;
    color: white;
}