<%- include('../partials/html', {
    title : 'Logowanie',
    styles : [ 'auth/main' ]
}) %>

<body>
    <%- include('../partials/header') %>

    <main>
        <div class="container">
            <h2>Zaloguj się</h2>

            <% if (typeof error !== 'undefined' && error) { %>
                <p class="error"><%= error %></p>
            <% } %>

            <form action="/auth/login" method="POST">
                <section>
                    <label for="email">E-mail*</label>
                    <input type="email" placeholder="..." name="email" id="email" required>
                </section>

                <section>
                    <label for="password">Hasło*</label>
                    <input type="password" placeholder="..." name="password" id="password" required>
                </section>

                <button>Zaloguj</button>
            </form>

            <div class="main-info">
                <p>Nie masz jeszcze konta? <a href="/auth/register">Zarejestruj się</a></p>
                <p>Nie pamiętasz hasła? <a href="/auth/code">Zresetuj je</a></p>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>